@model QuickQuestions.ViewModels.QuizViewModel

@{
    ViewBag.Title = "Categories";
}


<div class="jumbotron">
    <h2>Categories:</h2>
    <div class="row">

        @foreach (var quiz in Model.ListOfQuizz)
        {
            <div class="col-md-4">
                <a class="button hover" href="@Url.Action("Details", "Quiz")">
                    @quiz.QuizName
                </a>
            </div>
        }



    </div>
</div>