@model QuickQuestions.ViewModels.QuizViewModel

@{
    ViewBag.Title = "Categories";
}


<div class="jumbotron">
    <h2>Categories:</h2>
    <div class="row">

        @foreach (var category in Model.Categories)
        {
            <div class="col-md-4">
                <a class="button hover" href="@Url.Action("Details", "Quiz", new { id = category.CategoryId })">
                    @category.CategoryName
                </a>
            </div>
        }

    </div>
</div>