
@{
    ViewBag.Title = "Howto";
}

<div class="jumbotron">
    <h2>How to play the game</h2>

    <p>Click on the left top corner on "QuickQuestions". You will be redirected to main site where you can find all the catewgories.<br /> Click the categories that you like.
    You will be redirected to short quiz. <br />If you click on the right answer, it will get hilighted with green color, if you click on wrong one - with red.<br />
    For good answers you gather points and in the end you will see your stats.</p>
</div>


