@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #7C90FF;
    background-image: url('Images/tring.png');
    padding-top: 50px;
    height: 100%;
}

.all {
    min-height: 100%;
    position: relative;
}

.opener {
    text-align: center;
    color: white;
    text-shadow: 3px 2px #222;
    margin-top: 200px;
    margin-bottom: 200px;
}

    .opener p {
        margin-bottom: 150px;
    }

    .opener h1 {
        font-weight: bold;
        font-size: 60px;
    }

.container-body {
    padding-bottom: 60px;
}

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #222;
        text-align: center;
    }

        .footer li {
            font-size: 10px;
            color: white;
            display: inline-block;
            margin-top: 30px;
            position: relative;
        }

.jumbotron {
    background-color: #222;
    color: white;
}

.jumbotron h2 {
    text-align: center;
    margin-bottom: 40px;
}

    .jumbotron p {
        text-align: center;
    }

    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .dl-horizontal dt {
        white-space: normal;
    }

    input,
    select,
    textarea {
        max-width: 280px;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: end;
    }

        .navbar .navbar-collapse li {
            display: inline-block;
            margin-left: 40px;
            position: relative;
        }

    .navbar .navbar-nav li a {
        color: #EEEEEE;
    }

        .navbar .navbar-nav li a::before {
            content: '';
            display: block;
            height: 5px;
            background-color: white;
            position: absolute;
            top: 0;
            width: 0%;
            transition: all ease-in-out 250ms;
        }

        .navbar .navbar-nav li a:hover::before {
            width: 65%;
        }

    .navbar .navbar-brand {
        color: #EEEEEE;
        font-family: 'Monoton', cursive;
    }


